#map {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2.5px solid #200020;
}
.info {
    font: sans-serif;
    text-align: center;
    background: #200020;
}
.info h3 {
    margin: 8.5px;
    color: #ffffff;
}
.sidepanel-content {
    font-size: 1rem;
}
.sidepanel-content h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.sidepanel-content a {
    text-decoration: none;
    font-size: 1rem;
    color: #c9a7ff;
    transition: color 0.3s ease-in;
}
.sidepanel-content a:hover {
    color: #ffffff;
    text-decoration: underline;
}
